@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.creamy-latte {
  background-color: #F7F5Ec;
}

.espresso-foam {
  background-color: #f1f1f1;
}

.vanilla-cream {
  background-color: #fefefe;
}

.cappucino-blush {
  background-color: #d7bba0;
}

.hazel-gold {
  background-color: #f0bb51;
}

.mocha-brown {
  background-color: #3c1f1f;
}

.red-espresso {
  background-color: #c9002c;
}

#root {
  background-color: black;
};

/* temp */
.menu-buttons {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
}

.category-button {
  background-color: #c9002c; /* Red-Espresso color */
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.menu-items {
  padding: 20px;
}

.back-button {
  background-color: #d7bba0; /* Cappuccino Blush color */
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.menu-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  background-color: #fefefe; /* Vanilla Cream color */
  padding: 10px;
  border-radius: 5px;
}
